* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 50px;
	padding: 20px;
}
input {
	margin: 20px;
	width: 30em;
	text-align: right;
	padding: 10px 20px;
	height: 50px;
	font-size: x-large;
}
h3 {
	margin: 20px;
	border: 2px solid red;
	text-align: right;
	padding: 10px 20px;
	height: 50px;
	font-size: x-large;
}
